.container {
    width: 100%;
    height: 100%;
}

.searchContainer {
    width: 100%;
}

.search {
    width: 80%;
}

.time {
    font-size: 3rem;
    color: #333333;
    font-weight: bold;
}

.date {
    color: #333333;
    margin: 0 0 2rem 0;
    font-size: 1rem;
}

.group {
    width: 100%;
    background: #fefefe;
}

.groupTitle {
    color: gray;
    font-size: 1rem;
    margin-top: 1rem;
}

.groupOperateSort {
    color: gray;
}

.groupOperateSortOk {
    color: darkgreen;
    margin-left: 5px;
}

.groupOperateSortCancel {
    color: darkred;
}

.list {
    width: 90%;
    margin-top: 1rem;
}

.dragContainer {
    background-color: rgba(33, 150, 243, 0.5);
    border-radius: 4px;
    padding: 1rem 0;
    cursor: pointer;
    user-select: none;
    width: 10rem;
    opacity: 1;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    position: relative;

    .dragDrag {
        opacity: 0;
    }

    .dragEdit {
        position: absolute;
        right: 1rem;
        opacity: 0;
    }
}

.dragContainerDrag {
    background-color: rgba(33, 150, 243, 0.4);
    border-radius: 4px;
    padding: 1rem 0;
    cursor: grabbing;
    user-select: none;
    width: 10rem;
    opacity: 0.5;
    z-index: 1000;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    position: relative;

    .dragEdit {
        position: absolute;
        right: 1rem;
        opacity: 0;
    }
}

.dragContainer:hover {
    background-color: rgba(33, 150, 243, 0.9);
    color: white;

    .dragTitle {
        color: white;
    }

    .dragEdit {
        opacity: 1;
        color: white;
    }
}

.modalContainer {
    width: 600px;
}

.modalForm {
    margin: 1rem;
}