.container {
    width: 100%;
    height: 100%;
}

.searchContainer {
    width: 100%;
}

.search {
    width: 80%;
}

.time {
    font-size: 3rem;
    color: #333333;
    font-weight: bold;
}

.date {
    color: #333333;
    margin: 0 0 2rem 0;
    font-size: 1rem;
}

.group {
    width: 100%;
    background: #fefefe;
}

.groupTitle {
    color: gray;
    font-size: 1rem;
    margin-top: 1rem;
}

.groupOperateSort {
    color: gray;
}

.groupOperateSortOk {
    color: darkgreen;
    margin-left: 5px;
}

.groupOperateSortCancel {
    color: darkred;
}

.list {
    width: 90%;
    margin-top: 1rem;
}

.dragContainer {
    background-color: rgba(33, 150, 243, 0.5);
    border-radius: 4px;
    padding: 1rem 0.5rem;
    cursor: pointer;
    width: 10rem;

    .dragIcon {
    }

    .dragTitle {
        margin-left: 5px;
    }

    .dragDrag {
        opacity: 0.2;
    }

    .dragEdit {
        opacity: 0.2;
    }
}

.dragContainerDrag {
    background-color: rgba(33, 150, 243, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 1rem 0.5rem;
    cursor: pointer;


    .dragIcon {

    }

    .dragTitle {
        color: #747bff;
        margin-left: 5px;
    }

    .dragDrag {

    }

    .dragEdit {

    }
}

.dragContainer:hover {
    background-color: rgba(33, 150, 243, 0.9);

    .dragIcon {
        color: white;
    }

    .dragTitle {
        margin-left: 5px;
        color: white;
    }

    .dragDrag {
        opacity: 1;
        color: white;
    }

    .dragEdit {
        opacity: 1;
        color: white;
    }

}

.modalContainer {
    width: 600px;
}

.modalForm {
    margin: 1rem;
}