.container {
}

.searchContainer {
    width: 100%;
}

.search {
    width: 80%;
}

.time {
    font-size: 3rem;
    color: #333333;
    font-weight: bold;
}

.date {
    color: #333333;
    margin: 0 0 2rem 0;
    font-size: 1rem;
}

.group {
    width: 100%;
    background: #fefefe;
}

.groupTitle {
    color: gray;
    font-size: 1rem;
    margin-right: 5px;
}

.groupOperateSort {
    color: gray;
}

.groupOperateSortOk {
    color: darkgreen;
    margin-left: 5px;
}

.groupOperateSortCancel {
    color: darkred;
}

.list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding: 10px;
}

.listItem {
    background-color: rgba(33, 150, 243, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 1rem 0;
    /*transition: all 100ms ease-in-out;*/
    cursor: pointer;

    & span {
        color: #323232;
        margin-left: 7px;
    }
}

.listItem:hover {
    background-color: rgba(33, 150, 243, 0.9);
    /*transform: translateY(-2px);*/

    & span {
        color: white;
    }
}

.modalContainer {
    width: 600px;
}

.modalForm {
    margin: 1rem;
}