.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start
}

.containerBackground {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-clip: content-box;
    transition: all 0.2s ease-in-out;
    z-index: -1;
}

.containerBackgroundBlur {
    filter: blur(10px);
}

.time {
    margin: 2rem 0 0 0;
    font-size: 3rem;
    color: #ffffff;
    font-weight: bold;
}

.date {
    margin: 0 0 2rem 0;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
}

.search {
    margin: 0 0 2rem 0;
    width: clamp(20rem, 40vw, 40rem);

    & input {
        color: #6b6b6b;
        background-color: transparent;
    }
}

.group {
    width: clamp(30rem, 80vw, 70rem);
    transition: all 0.2s ease-in-out;
}

.groupBlur {
    filter: blur(10px);
}

.groupTitle {
    color: gray;
    font-size: 1rem;
}

.list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding: 10px;
}

.listItem {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 1rem 0;
    transition: all 100ms ease-in-out;

    & span {
        color: #b2b2b2;
        margin-left: 7px;
    }
}

.listItem:hover {
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(-2px);

    & span {
        color: white;
    }
}

.footer {
    color: #cccccc;
    position: fixed;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center
}


@media (max-width: 767px) {
    .group {
        width: 80vw;
    }

    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .group {
        width: 80vw;
    }

    .list {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (min-width: 1024px) {

    .group {
        width: clamp(30rem, 70vw, 70rem);
    }

    .list {
        grid-template-columns: repeat(6, 1fr);
    }

}