.leftContainer {
    width: 20rem;
}

.tagContainer {
    background-color: lightgray;
}

.calendar {
    margin-top: 1rem;
    padding: 1rem;
    background-color: white;
    color: black;
    text-align: center;

    & button {
        background-color: white;
        text-align: center;
    }
}