.container {
    max-width: 960px;
    width: 100vw;
}

.leftContainer {
    width: 20rem;
}

.rightContainer {
    flex-grow: 1;
}

.tagContainer {
    width: 100%;
    padding: 1rem;
}

.tag {
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    font-size: 0.8rem;

    &:before {
        content: '# ';
    }
}

.tagActive {
    background-color: lightgray;
    color: white;
}

.calendar {
    margin-top: 1rem;
    padding: 1rem;
    background-color: white;
    color: black;
    text-align: center;

    & button {
        background-color: white;
        text-align: center;
    }
}

.memoContainer {
    width: 100%;
    padding: 1rem;
    margin: 5px 10px;
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.47);
}

.memoTitle {
    font-size: 1rem;
    color: black;
}

.memoSubTitle {
    font-size: 0.8rem;
    color: gray;
    margin-left: 5px;
}

.memoTime {
    font-size: 0.8rem;
    color: gray;
}

@media (max-width: 768px) {
    .leftContainer {
        display: none;
    }

    .rightContainer {
        flex-grow: 1;
    }

}

