.container {
    width: 100%;
    height: 100%;
    min-height: 100dvh;
    overflow-x: hidden;
}

.titleContainer {
    width: clamp(100%, 100vw, 768px);
    padding: 1rem;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
}

.nav {
    margin-right: 1rem;
}

.navActive {
    margin-right: 1rem;
    color: darkred;
}

.username {
    margin-right: 0.5rem;
}

.context {
    flex: 1;
}

.footer {
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    color: #666;
}